<div class="modal fade" id="confirmDeleteModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="col-md-11">
						<h4 class="modal-title">Potvrdite brisanje</h4>
					</div>
					<div class="col-md-1">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<p>Da li ste sigurni da želite da izbrišete izabranu stavku?</p>
				<p class="text-gray">Napomena:<br />Ova akcija se ne može opozvati.</p>
			</div>
			<div class="modal-footer">
				<button type="button" id="cancel" class="btn btn-link btn-sm pull-left" data-dismiss="modal">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Nazad
				</button>
				<button type="button" id="confirm" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">
					<span class="glyphicon glyphicon-ok"></span>
					Izbriši
				</button>
			</div>
		</div>
	</div>
</div>
