<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<title>RaÄuni</title>
</head>
<body>

<header>
	<% include ../partials/header %>
</header>



<footer>
	<% include ../partials/footer %>
</footer>

<script src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
