<!DOCTYPE html>
<html lang="en">
<head>

	<% include ../partials/head-kendo %>
	<% include ../partials/head-common %>

	<title>Računi - Neplaćeni</title>

</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4><%= lang.all_unpaid_invoices_heading %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-12">
			<div id="invoicesUnpaidGrid"></div>
		</div>
	</div>
</div>

<script>
	var export_excel = "<%- lang.export_excel  %>";
	var new_invoice = "<%- lang.new_invoice  %>";
</script>

<% include ../partials/footer %>

<% include ../partials/body-common %>
<% include ../partials/body-kendo %>
<script src="js/invoices-unpaid.js"></script>

</body>
</html>
