<!DOCTYPE html>
<html lang="en">
<head>

	<% include ../partials/head-kendo %>
	<% include ../partials/head-parsley %>
	<% include ../partials/head-common %>

	<title>Računi - Novo zaduženje</title>

</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4>Unos novog zaduženja</h4>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<% include ../partials/body-common %>
<% include ../partials/body-kendo %>
<% include ../partials/body-parsley %>
<script src="js/invoice-new.js"></script>

</body>
</html>
