<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<title>Računi - Izveštaji</title>
</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4>IZVEŠTAJI</h4>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<% include ../partials/body %>

</body>
</html>
