<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="js/bower_components/kendo/styles/web/kendo.common-bootstrap.min.css" />
	<link rel="stylesheet" href="js/bower_components/kendo/styles/web/kendo.bootstrap.min.css">
	<% include ../partials/head %>
	<title>Računi - Neplaćeni</title>
</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4>NEPLAĆENI RAČUNI</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-12">
			<div id="neplaceniRacuniGrid"></div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<% include ../partials/body %>

<script src="js/bower_components/kendo/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.0/jszip.min.js"></script>
<script src="js/neplaceni-racuni.js"></script>

</body>
</html>
