<!DOCTYPE html>
<html lang="en">
<head>

	<% include ../partials/head-kendo %>
	<% include ../partials/head-common %>

	<title>RaÄuni - Partneri</title>

</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4>Pregled svih partnera</h4>
			<p class="text-gray">
				Kliknite na
				&nbsp;<span class='glyphicon glyphicon-pencil'></span>&nbsp;
				ispred naziva partnera da biste ga izmenili ili izbrisali.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div id="partnersGrid"></div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<% include ../partials/body-common %>
<% include ../partials/body-kendo %>
<script src="js/partners.js"></script>

</body>
</html>
