<!DOCTYPE html>
<html lang="en">
<head>

	<% include ../partials/head-kendo %>
	<% include ../partials/head-common %>

	<title>Računi - Izveštaji</title>

</head>
<body>

<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h4><%= lang.reports[0].toUpperCase() + lang.reports.substring(1) %></h4>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<% include ../partials/body-common %>
<% include ../partials/body-kendo %>

</body>
</html>
